Django>=4.2,<5.0
djangorestframework>=3.14
djangorestframework-simplejwt>=5.3
django-cors-headers>=4.3
django-filter>=23.5
whitenoise>=6.6
python-dotenv>=1.0
Pillow>=10.0
# Production:
# psycopg2-binary>=2.9
# gunicorn>=21.2
# redis>=5.0
# django-storages>=1.14   # S3 file storage
# boto3>=1.34              # AWS SDK
# twilio>=8.0              # SMS OTP

requests>=2.31
